.card {
  width: 920px;
  height: 500px;
  margin: 171px auto 129px;
  display: flex;
  border-radius: 8px;
}

.card > * {
  width: 307px;
  height: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-sedan {
  background: var(--bright-orange);
  border-radius: 8px 0 0 8px;
}

.col-suv {
  background: var(--dark-cyan);
}

.col-luxury {
  background: var(--very-dark-cyan);
  border-radius: 0px 8px 8px 0;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: var(--light-gray);
  text-transform: uppercase;
  margin: 35px 0 25px;
}

p {
  font-weight: 400;
  line-height: 25px;
  color: var(--transparent-white-para);
  margin-bottom: 83px;
}

.cta {
  width: 146px;
  height: 48px;
  background: var(--light-gray);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 25px;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.col-sedan > .cta {
  color: var(--bright-orange);
}

.col-suv > .cta {
  color: var(--dark-cyan);
}

.col-luxury > .cta {
  color: var(--very-dark-cyan);
}

.cta:hover {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 950px) {
  .card {
    width: 760px;
    height: 450px;
    display: flex;
    border-radius: 8px;
  }

  .card > * {
    width: 33.33%;
    padding: 25px;
  }
}

@media screen and (max-width: 765px) {
  .card {
    width: 425px;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .card > * {
    width: 100%;
    height: 442px;
    padding: 48px 48.5px 48px 47.5px;
    justify-content: space-between;
  }

  .col-sedan {
    border-radius: 8px 8px 0 0;
  }

  .col-luxury {
    border-radius: 0 0 8px 8px;
  }

  .icon {
    margin-bottom: 10px;
  }

  h1,
  p {
    margin: 0;
  }
}

@media screen and (max-width: 426px) {
  .card {
    width: 100%;
  }
}
